* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head {
    position: relative;
    width: 100%;
    height: 100vh;
    border: solid 1px red;
    background-color: white;
}
.dark {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    color: white;
    border: solid 1px yellow;
    background-color: black;
}

#show {
    z-index: 1;
}
#hide {
    z-index: 0;
}